<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="">
                <h1>My Blog</h1>
            </a>
            <div>
                <a href="{{ url_for('users.registro') }}">Registrar usuario</a>
                <a href="{{ url_for('users.login') }}">Iniciar sesión</a>
            </div>
        </nav>
    </header>

    <section>
        <div>
            <header>{% block header %} {% endblock %}</header>
            <div>

            </div>
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
</html>